{% extends 'dummy.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Page</title>
</head>
<body>
    {% block body_block %}
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="pw">password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="change_password">
        </form>
    </center>
    {% endblock %}
</body>
</html>